.gallery {
padding: 10px;
width: 520px;
}

.gallery ul { list-style: none; }
.gallery ul li { display: inline; }
.gallery ul img {
		border: 5px solid #ddd;
		border-width: 5px 5px 5px;
}

.gallery ul a:hover img {
border: 5px solid #bbb;
border-width: 5px 5px 5px;
color: #fff;
}

.gallery ul a:hover { color: #fff; }

.gallery a:link {text-decoration: none;}
.gallery a:visited {text-decoration: none;}
.gallery a:hover {text-decoration: none;}